@import 'tailwindcss';

@theme {
  --color-blue-base: #2c46b1;
  --color-blue-dark: #2c4091;

  --color-white: #ffffff;
  --color-gray-100: #f9f9fb;
  --color-gray-200: #e4e6ec;
  --color-gray-300: #cdcfd5;
  --color-gray-400: #74798b;
  --color-gray-500: #4d505c;
  --color-gray-600: #1f2025;

  --color-danger: #b12c4d;
}

:root {
  font-family:
    'Open Sans',
    system-ui,
    -apple-system,
    'Segoe UI',
    sans-serif;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  background-color: var(--color-white);
  color: var(--color-gray-600);
}

@layer utilities {
  .text-xi {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    text-transform: none;
  }

  .text-lg-bold {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: none;
  }

  .text-md-semibold {
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    text-transform: none;
  }

  .text-sm-regular {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    text-transform: none;
  }

  .text-sm-semibold {
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    text-transform: none;
  }

  .text-xs-uppercase {
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
    text-transform: uppercase;
  }
}
